/* Always use the full height and width for the page */
html {
    width: 100%;
    height: 100%;
}

/*
    1) Use full height and width
    2) Hide scroll bars
    3) Arial or font without serifs, center aligned
    4) black background with white text
*/
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    
    font-family: Arial, sans-serif;
    text-align: center;
    
    background-color: #000000;
    color: #FFFFFF;
}

/*
    1) Use 100% of the width if necessary.
    2) Align all text to the center.
    3) Set the border to a while, solid, and 1px. Also collapse duplicate borders.
*/
table, th, td {
    max-width: 100%;
    text-align: center;
    
    border-style: none;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

/*
    1) Display the game, controls, and help panels as a block
    2) Float Right
    3) Automatic margins
*/
#game, #controls, #help {
    display: block;
    margin: auto;
}

#controls, #help {
    float: left;
}

/*
    The game is important and should take 60% of the page
*/
#game {
    width: 60%;
    float: right;
}

/*
    Controls should only be 35% of the page and aligned to the left
*/
#controls {
    width: 35%;
    text-align: left;
}

/*
    The help information should be 20% of the page and text should be justified
*/
#help {
    width: 35%;
    text-align: justify;
    margin-left: 5px;
}

/*
    Game Canvas Style
    1) Block display, auto left/right margins, 5px top/bottom margins
    2) Grey, solid, 1px border
*/
#spaceInvaders {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    
    border-color: #888888;
    border-style: solid;
    border-width: 1px;
}

/*
    Button Style
    1) Block with automatic margins
    2) solid, rounded, white border
    3) Grey background
*/
button {
    display: block;
    margin: auto;
    
    border-radius: 25px;
    border-color: #FFFFFF;
    border-style: solid;
    
    background-color: #888888;
}

/*
    Keyboard Button Style
    1) Black Background
    2) White Text
    3) Borders that simulate a keyboard key.
*/
kbd {
    background-color: #111111;
    color: #FFFFFF;

    border-radius: 0px;
    border-color: #FFFFFF;
    border-style: outset;
    padding: 2px;

    font-family:Arial, Helvetica, sans-serif;
    font-size: 22px;
}